# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Uploaded files
uploads/

# Streamlit cache
.streamlit/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/